<div class="nested-fields">
  <%= f.input :user_id, collection: @course.users %>
  <%= f.input :status, collection: Attendance.statuses, include_blank: false, as: :radio_buttons  %>
  <%= link_to_remove_association "remove attendance", f, class: 'btn btn-sm btn-danger' %>
</div>
